//Variables

//Fonts
$heading-font: 'Stint Ultra Expanded', cursive;
$body-font: 'Quicksand', sans-serif;

//Colours
$red: #BB2929;
$orange: #F7931E;
$dark-grey: #4D4D4D;
$light-grey: #EDEDED;

//Padding & Margins

//Box Shadow
$main-shadow: $dark-grey 5px 5px 0px;

//Transitions

$main-transition: 0.3s ease-in-out;