//Forms

//Free Workout Plan

.fwp-contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 3rem;

  label, input {
    margin-bottom: 1.6rem;
  }
}

.fwp-input {
  width: 80vw;
  padding: 1rem;
  border: none;
  border-radius: 5rem;
  box-shadow: $main-shadow;
  transition: $main-transition;
  cursor: pointer;
}

.fwp-submit {
  margin-top: 1.6rem;
}

.indicates-required {
  width: 100%;
  text-align: right;
  font-size: 1.2rem;
}

.asterisk {
  color: $red;
}

#mce-success-response {
  font-family: $body-font;
}

#mce-error-response {
  font-family: $body-font;
  color: $red;
}

@media screen and (min-width: 600px) {
  .fwp-input {
    width: 50vw;
  }
}