//Navigation

nav {
  width: 90vw;
  margin: 0 auto;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.nav-links {
  display: none;
  flex-direction: row;
  align-items: center;

  ul {
    display: flex;
  }

  li {
    padding: 1rem;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  a {
    color: $dark-grey;
    text-decoration: none;
    transition: $main-transition;
  }

  a:hover {
    color: $red;
  }
}

#logo {
  height: 4rem;
  padding: 0.5rem;
}


//Hamburger Menu

.hamburger {
  border: none;
  background: transparent;
  cursor: pointer;
}

.close-icon {
  color: white;
  display: none;
}

.hamburger-menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.3s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: $dark-grey;
  color: white;
  font-family: $body-font;
  padding-top: 4rem;
  text-align: center;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
  }

  li {
    padding: 1rem;
    margin-bottom: 0;
  }

  a {
    color: white;
    text-decoration: none;
    transition: $main-transition;
  }

  a:hover {
    color: $red;
  }
}

.showMenu {
  transform: translateY(0);
}



//Shift Nav

#shiftnav-toggle-main {
  background-color: transparent!important;
}

.shiftnav-inner {
  background-color: $dark-grey!important;
  color: white;
  text-transform: uppercase;
  text-align: left;

  a {
    color: white;
  }
}

.shiftnav-panel-close {
  background-color: $dark-grey!important;
}

//Tablet & Desktop View

@media screen and (min-width: 600px) {
  nav {
    height: 10rem;
  }
  
  #logo {
    height: 6vh;
    padding: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  nav {
    max-width: 1000px!important;
    height: 10rem;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
  
    ul {
      display: flex;
      text-transform: uppercase;
    }
  
    li {
      padding: 1rem;
      margin-bottom: 0;
    }
  
    a {
      color: $dark-grey;
      text-decoration: none;
      transition: $main-transition;
    }
  
    a:hover {
      color: $red;
    }
  }
  
  #logo {
    height: 8vh;
    padding: 0.5rem;
  }

  // .hamburger {
  //   display: none;
  // }
}