//Buttons

.nav-button {
  color: black;
  background-color: $orange;
  text-transform: uppercase;
  padding: 1rem 1.6rem;
  border: none;
  border-radius: 5rem;
  box-shadow: $main-shadow;
  transition: $main-transition;
  cursor: pointer;
}

.nav-button:hover {
  color: white;
  background-color: $red;
}

.main-button {
  color: black;
  background-color: $orange;
  text-transform: uppercase;
  padding: 1.6rem;
  border: none;
  border-radius: 5rem;
  box-shadow: $main-shadow;
  transition: $main-transition;
  cursor: pointer;
}

.main-button:hover {
  color: white;
  background-color: $red;
}

.get-started {
  color: black;
  background-color: $orange;
  text-transform: uppercase;
  padding: 1.6rem;
  border: none;
  border-radius: 5rem;
  box-shadow: $main-shadow;
  transition: $main-transition;
  cursor: pointer;
  margin-top: 3rem;
}

.get-started:hover {
  color: white;
  background-color: $red;
}

.mepr-submit, .mepr-share-button {
  color: black!important;
  background-color: $orange!important;
  text-transform: uppercase!important;
  padding: 1.6rem!important;
  border: none!important;
  border-radius: 5rem!important;
  box-shadow: $main-shadow!important;
  transition: $main-transition!important;
  cursor: pointer!important;
}

.mepr-submit:hover {
  color: white!important;
  background-color: $red!important;
}

.wp-block-button {
  font-size: 1.6rem!important;
  font-family: $body-font!important;
  padding: 1.6rem!important;
}