//Pop Up

#popmake-403 {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 3rem;
}

#pum_popup_title_403 {
  font-family: $heading-font;
  text-align: center;
}