//About Page

.about-page {
  margin: 3rem 0;
  text-align: center;

  h1, h2 {
    text-align: center;
    margin: 3rem 0;
  }

  img {
    height: auto;
  }

  figcaption {
    text-align: center;
  }
}

// Privacy Policy Page

.privacy-policy-page {
  margin: 3rem 0;
  text-align: justify;

  h1 {
    text-align: center;
    margin: 3rem 0;
  }

  h2, h3 {
    text-align: left;
    margin: 3rem 0;
  }
}