//About Page

.page-content {
  width: 90vw;
  margin: 0 auto;
}

.about-page-img {
  margin: 3rem 0;

  img {
    width: 100%;
    // margin: 3rem 0;
    box-shadow: $main-shadow;
    padding: 0;
    margin: 0;
  }
}

.about-page-text {
  text-align: justify;
}