//Account Page

.account-page {
  margin: 3rem 0;
  text-align: center;

  h1, h2 {
    text-align: center;
    margin: 3rem 0;
  }
}

#mepr-account-nav, .mepr-account-change-password {
  a {
    color: $dark-grey;
  }

  a:hover {
    color: $red;
  }
}

.mepr-no-active-subscriptions, .mp-no-subs {
  font-family: $body-font!important;
  font-weight: normal!important;
  font-size: 1.6rem!important;
  cursor: default!important;
  color: $dark-grey!important;
}

#rememberme {
  width: auto!important;
}
