//Coming Soon

.page-template-page-coming-soon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.coming-soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  img {
    width: 30rem;
  }
}