//Homepage

.page-content {
  width: 90vw;
  margin: 0 auto;
}

.homepage {
  margin: 3rem 0;

  h2 {
    text-align: center;
    margin: 3rem 0;
  }

  img {
    height: auto;
  }
}

.home-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h2 {
    margin-top: 3rem;
  }

  p {
    text-align: justify;
  }

  button {
    width: 50%;
    margin: auto;
  }
}

//Tablet & Desktop View

@media screen and (min-width: 600px) {
  .home-about p {
    width: 60vw;
    margin: 0 auto;
  }
}


@media screen and (min-width: 1024px) {
  .page-content {
    max-width: 1000px;
    margin: 0 auto;
  }
}