//Top Tips

.knowledge-hub-page {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.knowledge-hub-post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: justify;
  border: none;
  border-radius: 3rem;
  margin: 3rem;
  
  img {
    width: 30vw;
    height: auto;
  }
}

//Tablet & Desktop View

@media screen and (min-width: 1024px) {
  .knowledge-hub-page {
    p {
      max-width: 60vw;
      margin: 1.6rem auto;
    }
  }

  .knowledge-hub-post {
    max-width: 60vw;
    margin: 3rem auto;
  }
}