//Top Tips

.top-tips-page-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.top-tip-post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: justify;
  border: none;
  border-radius: 3rem;
  padding: 3rem;
  background-color: $light-grey;
  margin: 3rem;
  
  img {
    width: 30vw;
    height: auto;
  }
}

//Tablet & Desktop View

@media screen and (min-width: 1024px) {
  .top-tips-page-content {
    p {
      max-width: 60vw;
      margin: 1.6rem auto;
    }
  }

  .top-tip-post {
    max-width: 60vw;
    margin: 3rem auto;
  }
}