//Membership Pages

.membership-page {
  margin: 3rem 0!important;
  text-align: center!important;

  h1 {
    text-align: center!important;
    margin: 3rem 0!important;
  }

  th, td {
    font-family: $body-font!important;
    font-size: 1.6rem!important;
    cursor: default!important;
    color: $dark-grey!important;
    font-weight: normal!important;
  }
}

.mepr_price div {
  font-family: $heading-font!important;
  cursor: default!important;
  color: $dark-grey!important;
  font-size: 3.2rem!important;
}

.mepr_price_cell {
  padding-left: 1rem!important;
}

.have-coupon-link {
  font-family: $body-font!important;
  font-weight: normal!important;
  font-size: 1.6rem!important;
  color: $dark-grey!important;
}

.have-coupon-link:hover {
  color: $red!important;
}

.mp-form-label label, .mepr-form-input {
  font-family: $body-font!important;
  font-weight: normal!important;
  font-size: 1.6rem!important;
  cursor: default!important;
  color: $dark-grey!important;
}

.mp-form-label {
  margin-bottom: 1rem!important;
}

.mepr-form-input {
  border: 1px solid $dark-grey!important;
  border-radius: 2rem!important;
}