//Membership Pages

.membership-page {
  margin: 3rem 0!important;
  text-align: center!important;

  h1 {
    text-align: center!important;
    margin: 3rem 0!important;
  }

  tr, td {
    font-family: $body-font!important;
    font-size: 1.6rem!important;
    cursor: default!important;
    color: $dark-grey!important;
  }

  th {
    font-weight: normal!important;
  }
}

.have-coupon-link {
  font-family: $body-font!important;
  font-weight: normal!important;
  font-size: 1.6rem!important;
  color: $dark-grey!important;
}

.have-coupon-link:hover {
  color: $red!important;
}

.mp-form-label label, .mepr-form-input {
  font-family: $body-font!important;
  font-weight: normal!important;
  font-size: 1.6rem!important;
  cursor: default!important;
  color: $dark-grey!important;
}

.mepr-form-input {
  border: 1px solid $dark-grey!important;
  border-radius: 2rem!important;
}

.mepr_price {
  font-family: $heading-font!important;
  cursor: default!important;
  color: $dark-grey!important;
  font-size: 3.2rem!important;
}

// Move to Buttons Page when done 
.mepr-submit {
  color: black!important;
  background-color: $orange!important;
  text-transform: uppercase!important;
  padding: 1.6rem!important;
  border: none!important;
  border-radius: 5rem!important;
  box-shadow: $main-shadow!important;
  transition: $main-transition!important;
  cursor: pointer!important;
}

.mepr-submit:hover {
  color: white!important;
  background-color: $red!important;
}