//Services Page

//Services Section

.services-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-img {
  margin: 3rem 0;

  img {
    width: 100%;
    box-shadow: $main-shadow;
    padding: 0;
    margin: 0;
  }
}

.services-text {
  margin: 3rem 0;
  text-align: justify;
  width: 100%;
}

//Pricing Section

//Tablet & Desktop View

@media screen and (min-width: 600px) {

  .services-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .services-img {
    img {
      width: 95%;
    }
  }

  .services-text {
    width: 95%;
  }
}