//Single Post

.post {
  h1 {
    text-align: center;
  }
}

.post-date {
  align-self: flex-start;
}

.post-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;

  p {
    text-align: justify;
  }

  img {
    width: 30vw;
    height: auto;
  }
}

//Tablet & Desktop View

@media screen and (min-width: 1024px) {
  .post-content {
    p {
      max-width: 60vw;
    }
  }
}